/**, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
}

input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 40px auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

    .img:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 900px;
        height: 100%;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
        background-size: cover;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    }

    .img:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

    .img__text h2 {
        margin-bottom: 10px;
        font-weight: normal;
    }

    .img__text p {
        font-size: 14px;
        line-height: 1.5;
    }

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

    .img__btn:after {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
    }

    .img__btn span {
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 1.2s;
        transition: -webkit-transform 1.2s;
        transition: transform 1.2s;
        transition: transform 1.2s, -webkit-transform 1.2s;
    }

        .img__btn span.m--in {
            -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
        }

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

    label span {
        font-size: 12px;
        color: #cfcfcf;
        text-transform: uppercase;
    }

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

    .fb-btn span {
        font-weight: bold;
        color: #455a81;
    }

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 95vh;
    margin: -20px 0 50px;
}

.MainHead {
/*    text-align: left;*/
    padding-left:80px;
    margin: 0;
    font-size: 50px !important; /* Adjust size as needed */
    font-weight: bold;
    padding-top:250px;
}

.MainHead1 {
    padding-left: 80px;
    margin: 0;
    font-size: 50px !important; /* Adjust size as needed */
    font-weight: bold;
    padding-top: 250px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #12337F;
    background-color: #12337F;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 60px; /* Increased button padding */
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px; /* Increased form padding */
    height: auto;
    max-height: 90%;
    text-align: center;
    overflow-y: auto;
}

#Guest_Form {
    margin-top:-170px !important;

}
input {
    background-color: #eee;
    border: none;
    padding: 18px 20px; /* Increased padding for larger input fields */
    margin: 15px 0; /* Increased margin for better spacing */
    width: 35vh;
    font-size: 18px; /* Increased font size for better readability */
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 80vw; /* Adjust to occupy 80% of the viewport width */
    height: 80vh; /* Adjust to occupy 80% of the viewport height */
    max-width: 1500px;
    max-height: 1100px;
    min-height: 480px;
    min-width: 320px;
}

.form-container {
    position: absolute;
    top: 200px;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    z-index: 2;
}

.sign-up-container {
    left: 50%;
    opacity: 0;
    z-index: 1;
    transform: translateX(-100%);
}

/*.container.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
}*/


.container.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #12337F;
    /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);*/
    background: -webkit-linear-gradient(to right, #12337F, #12337F);
    background: linear-gradient(to right, #12337F, #12337F);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: -120px;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: red;
    }

    footer a {
        color: #3c97bf;
        text-decoration: none;
    }

/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        width: 85%;
        height: 85%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    input {
        padding: 18px 22px; /* Slightly reduce padding for smaller screens */
        font-size: 16px;
    }

    form {
        padding: 0 40px; /* Adjust form padding */
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 95vw;
        height: 85vh;
    }
}

/* For screens between 768px and 1200px */
@media screen and (max-width: 1200px) and (min-width: 768px) {
    .container {
        width: 80vw;
        height: 80vh;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .container {
        width: 90vw;
        height: 90vh;
    }

    input {
        padding: 16px 20px; /* Further reduce padding for smaller screens */
        font-size: 14px;
    }

    form {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 90%;
    }
    .sign-up-container {
        left: 50%;
        opacity: 0;
        z-index: 1;
        transform: translateX(-100%);
    }

    .container.right-panel-active .sign-up-container {
        transform: translateX(0);
        opacity: 1;
        z-index: 5;
    }


    .overlay-container, .overlay-panel {
        width: 100%;
        height: 50%;
        top: auto;
        left: auto;
        transform: none;
    }

    .sign-in-container, .sign-up-container {
        width: 100%;
    }

    .container.right-panel-active .overlay-container {
        transform: translateY(-100%);
    }

    .container.right-panel-active .overlay {
        transform: translateY(50%);
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        height: 95%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    button {
        padding: 10px 30px;
        font-size: 14px;
    }

    input {
        padding: 14px 18px; /* Further reduce padding for very small screens */
        font-size: 12px;
    }

    form {
        padding: 0 20px;
    }
}

/* For screens smaller than 480px */
@media screen and (max-width: 480px) {
    .container {
        width: 95vw;
        height: 95vh;
    }

    form {
        padding: 0 20px;
    }

    input {
        padding: 14px 18px;
    }

    button {
        padding: 10px 35px;
        font-size: 14px;
    }
}

/* Adjustments for Overlay Panels */
.overlay-panel {
    padding: 0 20px; /* Adjusted padding for overlay panels */
}

@media (max-width: 360px) {
    .container {
        width: 100%;
        height: 100%;
    }

    input {
        padding: 12px 16px; /* Minimum padding for the smallest screens */
        font-size: 10px;
    }

    form {
        padding: 0 15px;
    }

    button {
        padding: 8px 20px;
        font-size: 12px;
    }


    #2_grid {
        width:10px !important;
    
    }
}