@model FASSET.eCheckIn_v1.Models.QRCodeModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily QR Code</title>
    <script>
        // Function to update the timer every second
        function updateTimer() {
            var timerElement = document.getElementById("timer");
            var timeLeft = parseInt(timerElement.innerText);

            if (timeLeft > 0) {
                timerElement.innerText = timeLeft - 1;
            } else {
                window.location.reload(true);
            }
        }

        // Update the timer every second
        setInterval(updateTimer, 1000);
    </script>
    <script>
        // Function to get today's date and display it in a specified format
        function displayTodayDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-11
            const day = String(today.getDate()).padStart(2, '0');
            const formattedDate = `${year}-${month}-${day}`;

            // Display the date in the element with id 'date-display'
            document.getElementById('date-display').textContent = formattedDate;
        }

        // Execute the function when the page loads
        window.onload = displayTodayDate;
    </script>
</head>
<body>
    <div style="text-align:center;">
        @if (ViewBag.QRCodeExpired != null)
        {
            <h2>QR Code Expired</h2>
            <p>The QR code you are trying to access has expired.</p>
        }
        else
        {
            <h2>Scan the QR Code to visit FASSET<span>&reg</span> eCheck-In <span id="date-display"></span></h2>
            <img class="qr-code" src="@Model.QRCodeImageUrl" alt="Daily QR Code" />
            <h2>Your OTP: @Model.TOTP</h2>
        }
    </div>

    <!-- Timer display -->
    <div style="text-align:center;">
        <h2>Time left: <span id="timer">50</span> seconds</h2>
    </div>
</body>
</html>